<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="bautiro">

  <!-- robot name parameter -->
  <xacro:arg name="name" default="bautiro"/>
  <!-- parameters -->
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find ur_moveit_config)/srdf/bautiro_macro.srdf.xacro"/>

  <xacro:bautiro_srdf name="$(arg name)" prefix="$(arg prefix)"/>

</robot>
