[Unit]
Description=PTU Remote Control    # Short description
After=network.target

[Service]
User=pi
Restart=always
RestartSec=10
#WorkingDirectory=/home/pi	# Verzeichnis des Python-Programms
ExecStart=/usr/bin/python3 -u /home/pi/ptu_remote.py  # Programm das automatisch gestartet wird

[Install]
WantedBy=multi-user.target
