<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="inclinometer">

    <xacro:property name="name" value="inclinometer"/>

    <link name="${name}">
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.2 0.2 0.2"/>
        </geometry>
        <material name="white"/>
        </visual>
        <collision>
        <geometry>
            <box size="0.2 0.2 0.2"/>
        </geometry>
        </collision>
        <inertial>
        <mass value="1"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
    </link>

    <gazebo reference="${name}">
        <sensor name="inclinometer_sensor" type="imu">
            <always_on>1</always_on>
            <update_rate>1</update_rate>
            <visualize>true</visualize>
            <topic>inclinometer</topic>
            <plugin filename="libignition-gazebo-imu-system.so" name="ignition::gazebo::systems::Imu"/>
        </sensor>
    </gazebo>

</robot>