<?xml version="1.0"?>

<model>
  <name>Construction Site - Boeblingen</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Musa Morena Marcusso Manhaes</name>
    <email>musamorena.marcussomanhaes@de.bosch.com</email>
  </author>

  <author>
    <name>Oleksandr Pryputa</name>
    <email>oleksandr.pryputa@de.bosch.com</email>
  </author>

  <description>
    World model with the construction site SZBB.
  </description>
</model>